body{
  background-color: #16425B;
  color: #f1f1f1;
  padding: 1% 2%;
  font-size: x-large;
  font-family: Arial, sans-serif;
}
.container
{
  margin:0 auto;
  padding:5%;
  text-align: center;
  border-style: none;
  border-radius: 5px;
  box-shadow: 50px 50px 65px black;
  background-color: #3A7CA5;
  max-width: 600px;
}


button
{
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  border-style: none;
  cursor:pointer;
  font-size: 1em;
  color: white;
  transition: background-color 0.3s ease;

}
button:hover{
  background-color: #07304f;
  transform: scale(1.05);
}
.increment
{
  background-color:#0661b7;
}
.decrement
{
  background-color:#c51e00;
}
.reset
{
  background-color:#919191;
}